.examForm {
  display: flex;
  flex-direction: column;
}
.examForm label {
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin-top: 10px;
}
.examForm input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}
.examForm input[type="submit"] {
  width: 30%;
  align-self: flex-end;
  border: none;
  color: white;
  background-color: #d62b5e;
  padding: 10px 5px;
  margin-top: 15px;
}
.examForm input[type="submit"]:hover {
  background-color: #8f1c3e;
  cursor: pointer;
}

.errors {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}

.error {
  color: red;
  font-family: "Open Sans", sans-serif;
}
