.patientForm {
  display: flex;
  flex-direction: column;
}
.patientForm label {
  margin-top: 8px;
  font-family: "Open Sans", sans-serif;
  color: #555;
}
.patientForm fieldset {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  color: rgb(46, 46, 46);
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgb(197, 197, 197);
}
.patientForm fieldset ul {
  list-style: none;
}
.patientForm fieldset ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.patientForm fieldset ul li button {
  margin-left: 10px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #d62b5e;
  font-size: 22px;
  background-color: transparent;
}
.patientForm fieldset ul li button:hover {
  cursor: pointer;
  color: #8f1d3f;
}
.patientForm input[type="text"],
.patientForm input[type="password"],
.patientForm input[type="date"],
.patientForm input[type="datetime-local"],
.patientForm select {
  border: 1px solid #ccc;
  padding: 8px;
}
.patientForm input[type="radio"] {
  margin: 10px;
}
.patientForm input[type="submit"] {
  border: none;
  margin-top: 15px;
  padding: 10px 5px;
  background-color: #d62b5e;
  color: white;
}
.patientForm input[type="submit"]:hover {
  background-color: #881c3c;
  cursor: pointer;
}

.errors {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}

.error {
  color: red;
  font-family: "Open Sans", sans-serif;
}
