.itemContainer {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  padding: 10px;
  box-shadow: 3px 3px 3px #ccc;
  margin: 10px 0px;
}
.date {
  border-right: 2px solid #3575a3;
  padding: 0px 5px;
  font-family: "Open Sans", sans-serif;
  color: #555;
}
.message {
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin-left: 5px;
}

.consultationForm {
  display: flex;
  align-items: center;
}
.consultationForm button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  background-color: rgb(77, 129, 172);
  font-size: 18px;
}
.consultationForm button:hover {
  background-color: rgb(52, 87, 116);
  cursor: pointer;
}
.consultationComment {
  resize: none;
  width: 100%;
  border: 1px solid #ccc;
}
