.navBar {
  background-color: #45b0e6;
  height: 50px;
}
.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.notifications {
  background-color: #3575a3;
  display: flex;
  align-items: center;
  font-size: 2em;
  color: white;
  width: 50px;
  justify-content: center;
}
.notifications:hover {
  cursor: pointer;
  color: lightgray;
  opacity: 0.5;
}
.profile {
  background-color: #285372;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  padding: 5px;
  height: 50px;
}
.profile:hover img {
  cursor: pointer;
  color: black;
  opacity: 0.5;
}

.profileImage {
  max-height: 40px;
  clip-path: circle();
}
.actions {
  position: absolute;
  top: 50px;
  right: 0;
}
.actions button {
  width: 100px;
  padding: 15px 0px;
  border: none;
  background-color: #3575a3;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.actions button:hover {
  background-color: #1f4561;
  cursor: pointer;
}
